<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personal PortFolio</title>
    <link rel="shortcut icon" href="../images/9.jpg" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: rgba(72, 76, 76, 0.233);">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">PortFolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="academics.html">Academics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="skills.html">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">Projects</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Other
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="extra.html"
                    >Extra-curricular</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="extra.html">Interests</a>
                </li>
                <li>
                  <a class="dropdown-item" href="extra.html">PORs</a>
                </li>
                <li>
                  <a class="dropdown-item" href="extra.html">Achivements</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                <li>
                  <a class="dropdown-item" href="contact.html">Contact Me</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Download CV
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Hey,</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure to download?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-outline-primary"href="https://drive.google.com/file/d/1lA8GzqbqOz6JJ-PgToEz--jt-Tg3oatN/view?usp=sharing" role="button"target="_blank">Download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid my-4 text-center">
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bansberia Municipal High School <span class="fs-6">2015-'21</span></h5>
              <p class="card-text">Class V - Higher Secondary(XII)</p>
              <strong>Grade : 91% , WBCHSE Board</strong><br>
              <a href="https://drive.google.com/file/d/1dS68Y2m-ANIt8JsaDEC3f2yNXo7VN3JM/view?usp=sharing" class="btn btn-outline-primary my-2" target="_blank">Download Result</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indian Institute of Technology , Kharagpur</h5>
              <p class="card-text">2nd Year UnderGraduate Student Persuing B.Tech in Electronics and Electrical Communication Engineering </p>
              <strong>Grade : 8.55 CGPA</strong><br>
              <a href="https://drive.google.com/file/d/12F8dfkzOk3C869HOR81qArtXtd_wuHI0/view?usp=sharing" class="btn btn-outline-primary my-2" target="_blank">Download GradeCard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid my-4">
      <h1 class="text-center">Important CourseWork </h1>
      <div class="container-fluid text-center my-4">
        <div class="row">
          <div class="col">
            <div class="card text-bg-primary mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">EC21202</div>
              <div class="card-body">
                <h5 class="card-title">Digital Electronics Circuits</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-secondary mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">EC29207</div>
              <div class="card-body">
                <h5 class="card-title">Analog Electronics Circuits</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-warning mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">EC21204</div>
              <div class="card-body">
                <h5 class="card-title">Linear Algebra and Optimization</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-success mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">MA20205</div>
              <div class="card-body">
                <h5 class="card-title">Probability and Statistics</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card text-bg-danger mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">CS19003</div>
              <div class="card-body">
                <h5 class="card-title">Programming and Data Structures</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-info mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">DY17003</div>
              <div class="card-body">
                <h5 class="card-title">DIY Project</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-light mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">EC21205</div>
              <div class="card-body">
                <h5 class="card-title">Semiconductor Devices</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-bg-dark mb-3 d-flex" style="max-width: 25rem;">
              <div class="card-header">EC21208</div>
              <div class="card-body">
                <h5 class="card-title">Signals and Systens</h5>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
